<div class="login-box">
    <div class="login-logo">
        <a href="{{.i18n.Tr "homeLink"}}"><img src="{{.i18n.Tr "logo"}}" alt="Anonutopia Logo" style="width: 270px;"></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"><strong>{{.i18n.Tr "creatingWallet"}}</strong></p>

        <div id="newGroupAjax">
            <p class="text-center"><img src="/dist/img/ajax-loader.gif" alt="Ajax Loader"></p>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->