        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Reset Your Anonutopia Password</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Password Reset</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <div class="col-md-6 col-md-offset-3">

                    <div class="well">
                        <h3 class="text-center">Reset Your Password</h3>
{{ if .Finished }}
                        <p class="bg-success text-success" style="margin: 15px 0; padding: 15px;">We have successfully sent you a 
                        password reset email. If you haven't received it, please check your spam folder. You can now close this window.</p>
{{ else }}
                        <form action="./" method="POST" id="applyForm">
                            <div class="form-group" id="amountGroup">
                                <label for="email">Anonutopia Email</label>
                                <input type="email" class="input" id="email" placeholder="anon@anonutopia.com" name="email" value="{{ .Form.Email }}">
{{ if .Errors }}
                                <p class="bg-danger text-danger" style="margin: 15px 0; padding: 15px;">{{ .ErrorMsg }}</p>
{{ end }}
                            </div>
                            <p class="text-center"><input type="submit" value="Send Password Reset Email" class="main-btn"></p>
                        </form>
{{ end }}
                    </div>
{{ if .ShowSignUp }}
                    <p>If you would like to sign up again, you can do it <a href="/sign-up/">here</a>.</p>
{{ end }}
                </div>
                <!-- /Main -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
