<div class="login-box">
    <div class="login-logo">
        <img src="{{.i18n.Tr "logo"}}" alt="Anonutopia Logo" style="width: 270px;">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"><strong>{{.i18n.Tr "signUpNewTitle"}}</strong></p>

        <form action="javascript:wallet.signUpNext2();" method="post">
            <div id="newGroup2" style="display: none;">
                <p class="text-green">{{.i18n.Tr "passwordMessage"}}</p>
                <div class="form-group has-feedback" id="passwordGroup1">
                    <input type="password" class="form-control input-lg" placeholder="{{.i18n.Tr "password"}}" id="password1">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback" id="passwordGroup2">
                    <input type="password" class="form-control input-lg" placeholder="{{.i18n.Tr "passwordRpt"}}" id="password2">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <p class="text-red" style="display: none;" id="errorMessagePassword"></p>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success btn-block btn-flat btn-lg">{{.i18n.Tr "finish"}}</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="newGroup1" style="display: none;">
                <p class="text-green">{{.i18n.Tr "pasteSeedMsg"}}</p>
                <div class="form-group has-feedback" id="seedGroup">
                    <textarea class="form-control input-lg" rows="4" placeholder="{{.i18n.Tr "pastePlcHldr"}}" id="seedta"></textarea>
                </div>
                <p class="text-red" style="display: none;" id="errorMessageSeed"></p>
                <div class="pull-right">
                    <a href="javascript:;" id="signupnext1" class="btn btn-success btn-block btn-flat btn-lg">{{.i18n.Tr "next"}}</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="newGroup" style="display: none;">
                <p class="text-green">{{.i18n.Tr "copySeedMsg"}}</p>
                <p style="margin: 20px 0 30px 0;"><strong><span id="seed"></span></strong></p>
                <input type="text" id="seedinput" value="" style="position: absolute; margin-left: -10000px;">
                <p class="text-green" id="copymessage" style="margin: -10px 0 20px 0; display: none;">{{.i18n.Tr "seedCopied"}}</p>
                <div class="row">
                    <div class="col-xs-5">
                        <a href="javascript:;" id="signupcopy" class="btn btn-primary btn-block btn-flat btn-lg">{{.i18n.Tr "copy"}}</a>
                    </div>
                    <div class="col-xs-2">
                        <p class="text-center" style="margin: 12px 0;">{{.i18n.Tr "and"}}</p>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-5">
                        <a href="javascript:;" id="signupnext" class="btn btn-success btn-block btn-flat btn-lg">{{.i18n.Tr "next"}}</a>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <div id="newGroupAjax" style="display: none;">
                <p class="text-center"><img src="/dist/img/ajax-loader.gif" alt="Ajax Loader"></p>
            </div>
        </form>

        <!-- <a href="/restore/">Vrati postojeći pomoću seeda</a> -->

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->