<div class="login-box">
    <div class="login-logo">
        <img src="{{.i18n.Tr "logo"}}" alt="Anonutopia Logo" style="width: 270px;">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"><strong>{{.i18n.Tr "signInTitle"}}</strong></p>

        <form action="javascript:;" method="post" id="signInForm">
            <div class="form-group has-feedback" id="passwordGroup">
                <input type="password" class="form-control input-lg" placeholder="Password" id="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <p class="text-red" style="display: none;" id="required">{{.i18n.Tr "requiredField"}}</p>
            <div class="row">
                <div class="col-xs-7">
                    <!-- <div class="checkbox icheck">
                        <label>
                            <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Zapamti
                        </label>
                    </div> -->
                </div>
                <!-- /.col -->
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-primary btn-block btn-flat btn-lg" id="signInButton">{{.i18n.Tr "signInButton"}}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div id="newGroupAjax" style="display: none;">
            <p class="text-center"><img src="/dist/img/ajax-loader.gif" alt="Ajax Loader"></p>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->