<div class="login-box">
    <div class="login-logo">
        <img src="/dist/img/logo.png" alt="Kriptokuna Logo" style="width: 270px;">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Prijavi se za nastavak</p>

        <form action="javascript:;" method="post">
            <div class="form-group has-feedback" id="passwordGroup">
                <input type="password" class="form-control input-lg" placeholder="Password" id="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <p class="text-red" style="display: none;" id="required">Ovo polje je obavezno.</p>
            <div class="row">
                <div class="col-xs-7">
                    <!-- <div class="checkbox icheck">
                        <label>
                            <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Zapamti
                        </label>
                    </div> -->
                </div>
                <!-- /.col -->
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-primary btn-block btn-flat btn-lg" id="signInButton">Prijavi se</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- <a href="/restore/">Vrati postojeći pomoću seeda</a> -->

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->