<div class="login-box">
    <div class="login-logo">
        <img src="{{.i18n.Tr "logo"}}" alt="Anonutopia Logo" style="width: 270px;">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"><strong>{{.i18n.Tr "signUpImportTitle"}}</strong></p>

        <form action="javascript:wallet.importNext1();" method="post">
            <div id="importGroup2" style="display: none;">
                <p class="text-green">{{.i18n.Tr "passwordMessage"}}</p>
                <div class="form-group has-feedback" id="passwordGroup1">
                    <input type="password" class="form-control input-lg" placeholder="{{.i18n.Tr "password"}}" id="password1">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback" id="passwordGroup2">
                    <input type="password" class="form-control input-lg" placeholder="{{.i18n.Tr "passwordRpt"}}" id="password2">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <p class="text-red" style="display: none;" id="errorMessagePassword"></p>
                <div class="pull-right">
                    <button type="submit" id="importnext1" class="btn btn-success btn-block btn-flat btn-lg">{{.i18n.Tr "finish"}}</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="importGroup1">
                <p class="text-green">{{.i18n.Tr "pasteSeedMsg"}}</p>
                <div class="form-group has-feedback" id="seedGroup">
                    <textarea class="form-control input-lg" rows="4" placeholder="{{.i18n.Tr "pastePlcHldr"}}" id="seedta"></textarea>
                </div>
                <p class="text-red" style="display: none;" id="errorMessageSeed"></p>
                <div class="pull-right">
                    <a href="javascript:;" id="importnext" class="btn btn-success btn-block btn-flat btn-lg">{{.i18n.Tr "next"}}</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="newGroupAjax" style="display: none;">
                <p class="text-center"><img src="/dist/img/ajax-loader.gif" alt="Ajax Loader"></p>
            </div>
        </form>

        <!-- <a href="/restore/">Vrati postojeći pomoću seeda</a> -->

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->