<div class="login-box">
    <div class="login-logo">
        <img src="/dist/img/logo.png" alt="Kriptokuna Logo" style="width: 270px;">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Napravi ili vrati novčanik</p>

        <form action="javascript:;" method="post">
            <div class="row">
                <div class="col-xs-5">
                    <!-- <button type="submit" class="btn btn-success btn-block btn-flat btn-lg" id="newWalletButton">Novi</button> -->
                    <a href="/sign-up-new/" class="btn btn-success btn-block btn-flat btn-lg">Novi</a>
                </div>
                <div class="col-xs-2">
                    <p class="text-center" style="margin: 12px 0;">ili</p>
                </div>
                <!-- /.col -->
                <div class="col-xs-5">
                    <a href="/sign-up-import/" class="btn btn-primary btn-block btn-flat btn-lg">Vrati</a>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- <a href="/restore/">Vrati postojeći pomoću seeda</a> -->

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->