    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{.i18n.Tr "exchangeTitle"}}
                <small>{{.i18n.Tr "exchangeSubitle"}}</small>
            </h1>
        </section>

        <section class="content" id="transactionInProgress" style="display: none;">
            <div class="callout bg-light-blue" style="border: none;">
                <h4 style="padding-left: 30px;"><i class="fa fa-spinner fa-spin" style="font-size: 1.2em; margin-top: -2px; position: absolute; margin-left: -30px;"></i> {{.i18n.Tr "progress"}}</h4>
                <p>{{.i18n.Tr "progressMessage"}}</p>
            </div>
        </section>

        <!-- Main content -->
        <section class="content" id="content">
{{ if not .User.ReceivedFreeAnote }}
            <div class="callout callout-danger" id="transactionSuccess">
                <h4>{{.i18n.Tr "telegramTitle"}}</h4>
                <p>{{.i18n.Tr "telegramMessage"}} <a href="{{.i18n.Tr "homeLink"}}/airdrop/" target="_blank"><strong>{{.i18n.Tr "telegramHere"}}</strong></a>!</p>
            </div>
{{ end }}
            <div class="callout callout-danger" id="transactionError" style="display: none;">
                <h4>{{.i18n.Tr "transactionErr"}}</h4>
                <p>{{.i18n.Tr "transactionErrMsg"}}</p>
                <p>Error: <span id="errorMessage"></span></p>
            </div>

            <div class="callout callout-success" id="transactionSuccess" style="display: none;">
                <h4>{{.i18n.Tr "transactionScc"}}</h4>
                <p>{{.i18n.Tr "transactionSccMsg"}}</p>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <i class="fa fa-line-chart"></i>
                            <h3 class="box-title">{{.i18n.Tr "currencyPrices"}}</h3>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <th>{{.i18n.Tr "currency2"}}</th>
                                    <th style="width: 130px">{{.i18n.Tr "price"}}</th>
                                </tr>
                                <tr>
                                    <td>EUR</td>
                                    <td><span class="badge bg-green">{{ .PriceEur }} EUR</span></td>
                                </tr>
                                <tr>
                                    <td>WAV</td>
                                    <td><span class="badge bg-green">{{ .PriceWav }} WAV</span></td>
                                </tr>
                                <tr>
                                    <td>BTC</td>
                                    <td><span class="badge bg-green">{{ .PriceBtc }} BTC</span></td>
                                </tr>
                                <tr>
                                    <td>ETH</td>
                                    <td><span class="badge bg-green">{{ .PriceEth }} ETH</span></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <i class="fa fa-exchange"></i>
                            <h3 class="box-title">{{.i18n.Tr "currencyExchange"}}</h3>
                        </div>
                        <form action="javascript:;">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="currency" class="text-lg-left">{{.i18n.Tr "currencies"}}</label>
                                    <select class="form-control input-lg" id="currency" onchange="document.getElementById('exchangeFeeCurrency').selectedIndex = this.selectedIndex + 1;">
                                        <option selected>Waves (WAV) -> ANOTE (ANT)</option>
                                        <option>Bitcoin (BTC) -> ANOTE (ANT)</option>
                                        <option>Ether (ETH) -> ANOTE (ANT)</option>
                                        <!-- <option>ANOTE (ANT) -> Waves (WAV)</option> -->
                                        <!-- <option>Bitcoin (BTC)</option> -->
                                    </select>
                                </div>
                                <div class="form-group" id="amountGroup">
                                    <label for="amount">{{.i18n.Tr "exchangeAmount"}}</label>
                                    <input type="text" class="form-control input-lg" id="amount" placeholder="1.234">
                                </div>
                                <p class="text-red" style="margin: 0; display: none;" id="errorMessageExchange"></p>
                            </div>
                            <div class="box-footer">
                                <input type="submit" value="{{.i18n.Tr "doExchange"}}" class="btn btn-block btn-danger btn-lg" id="exchangeButton">
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-4">
                    <script>
                        priceWav = parseFloat({{ .PriceWav }});
                        priceBtc = parseFloat({{ .PriceBtc }});
                        priceEth = parseFloat({{ .PriceEth }});
                    </script>
                    <!-- Default box -->
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <i class="fa fa-calculator"></i>
                            <h3 class="box-title">{{.i18n.Tr "calc"}}</h3>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <td>{{.i18n.Tr "programmedValue"}}</td>
                                    <td><span class="badge bg-blue">17 EUR</span></td>
                                </tr>
                                <tr>
                                    <td>{{.i18n.Tr "anoteAmount"}}</td>
                                    <td style="width: 130px"><span class="badge bg-blue"><span id="amountAno">0.00</span> ANO</span></td>
                                </tr>
                                <tr>
                                    <td>{{.i18n.Tr "fullValue"}}</td>
                                    <td><span class="badge bg-blue"><span id="amountEur">0.00</span> EUR</span></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="modalExchange">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{.i18n.Tr "payConfirm"}}</h4>
            </div>
            <div class="modal-body">
              <p>{{.i18n.Tr "payConfirmMessage"}}</p>
              <p style="margin-bottom: 0px;"><a href="javascript:;" onclick="$('#payAdvanced').fadeToggle();">{{.i18n.Tr "configureFee"}}</a></p>
                <div class="form-group" id="payAdvanced" style="display: none; margin: 10px 0 0 0;">
                    <label>{{.i18n.Tr "feeCurrency"}}</label>
                    <select class="form-control" id="exchangeFeeCurrency">
                      <option>Anote (0.3 ANO)</option>
                      <option selected>Waves (0.001 WAV)</option>
                      <option>Bitcoin (0.0000004 BTC)</option>
                      <option>Ether (0.000008 ETH)</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{.i18n.Tr "cancel"}}</button>
              <button type="button" class="btn btn-danger" id="exchangeConfirmButton">{{.i18n.Tr "doExchange"}}</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->    