    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Kriptokunski Novčanik
                <small>Vaše Internet bankarstvo</small>
            </h1>
        </section>

        <section class="content" id="loader">
            <div class="callout bg-light-blue" style="border: none;">
                <h4 style="padding-left: 30px;"><i class="fa fa-spinner fa-spin" style="font-size: 1.2em; margin-top: -2px; position: absolute; margin-left: -30px;"></i> Učitavanje...</h4>
                <p>Novčanik se učitava. Molimo pričekajte!</p>
            </div>
        </section>

        <section class="content" id="nometamask" style="display: none;">
            <div class="callout callout-danger">
                <h4>MetaMask nije instaliran!</h4>
                <p>Vaš browser nema DApp mogućnosti. Molimo vas da novčanik otvorite u <a href="https://trustwalletapp.com/" target="_blank">Trust</a> aplikaciji ili da instalirate <a href="https://metamask.io/" target="_blank">MetaMask</a> ekstenziju.</p>
            </div>
        </section>

        <section class="content" id="notsignedin" style="display: none;">
            <div class="callout callout-danger">
                <h4>Niste ulogirani u MetaMask!</h4>
                <p>Za daljnje korištenje novčanika, molimo vas da se ulogirate u MetaMask ekstenziju (u pregledniku gore desno).</p>
            </div>
        </section>

        <section class="content" id="wrongnetwork" style="display: none;">
            <div class="callout callout-danger">
                <h4>Kriva Ethereum mreža!</h4>
                <p>Koristite krivu Ethereum mrežu. Promijenite ju na glavnu mrežu u MetaMask / Trust postavkama.</p>
            </div>
        </section>

        <section class="content" id="transactionInProgress" style="display: none;">
            <div class="callout bg-light-blue" style="border: none;">
                <h4 style="padding-left: 30px;"><i class="fa fa-spinner fa-spin" style="font-size: 1.2em; margin-top: -2px; position: absolute; margin-left: -30px;"></i> Transakcija u tijeku...</h4>
                <p>Transakcija je u tijeku. Molimo pričekajte!</p>
            </div>
        </section>

        <!-- Main content -->
        <section class="content" id="content" style="display: none;">
            <div class="callout callout-danger" id="transactionError" style="display: none;">
                <h4>Transakcija nije prošla!</h4>
                <p>Dogodio se problem i transakcija nije prošla. Molimo vas da pokušate ponovo!</p>
            </div>

            <div class="callout callout-success" id="transactionSuccess" style="display: none;">
                <h4>Transakcija je uspješna!</h4>
                <p>Vaša transakcija je uspješno izvršena.</p>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-arrow-down"></i> Uplata na račun</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Bitcoin</a></li>
                            <li><a href="#tab_3" data-toggle="tab">Ether</a></li>
                            <li><a href="#tab_4" data-toggle="tab">Banka</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <p><strong>QR Kod</strong></p>
                                <p><canvas id="qr" class="center-block"></canvas></p>
                                <p><strong>Adresa (broj računa)</strong></p>
                                <p class="text-green" id="copymessageaddress" style="display: none;">Adresa je kopirana u clipboard.</p>
                                <p>
                                    <div class="input-group">
                                            <input type="text" class="form-control input-lg" id="address" value="3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2" readonly>
                                            <div class="input-group-addon"><a href="javascript:wallet.copy('address');"><i class="fa fa-copy fa-lg"></i></a></div>
                                    </div>
                                </p>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <p><strong>Bitcoin QR Kod</strong></p>
                                <p><canvas id="qrbitcoin" class="center-block"></canvas></p>
                                <p><strong>Bitcoin Adresa</strong></p>
                                <p class="text-green" id="copymessageaddressBitcoin" style="display: none;">Adresa je kopirana u clipboard.</p>
                                <p>
                                    <div class="input-group">
                                            <input type="text" class="form-control input-lg" id="addressBitcoin" value="{{ .User.BitcoinAddr }}" readonly>
                                            <div class="input-group-addon"><a href="javascript:wallet.copy('addressBitcoin');"><i class="fa fa-copy fa-lg"></i></a></div>
                                    </div>
                                </p>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_3">
                                <!-- <p><strong>Ethereum QR Kod</strong></p>
                                <p><canvas id="qrether" class="center-block"></canvas></p>
                                <p><strong>Bitcoin Adresa</strong></p>
                                <p class="text-green" id="copymessageaddressEthereum" style="display: none;">Adresa je kopirana u clipboard.</p>
                                <p>
                                    <div class="input-group">
                                            <input type="text" class="form-control input-lg" id="addressEthereum" value="3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2" readonly>
                                            <div class="input-group-addon"><a href="javascript:wallet.copy('addressEthereum');"><i class="fa fa-copy fa-lg"></i></a></div>
                                    </div>
                                </p> -->
                                <p><strong>Uplata Ethera</strong></p>
                                <p>Ova mogućnost je u izradi.</p>
                            </div>
                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_4">
                                <p><strong>Uplata iz banke</strong></p>
                                <p>Ova mogućnost je u izradi.</p>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->



                </div>

                <div class="col-md-4">
                        <!-- Default box -->
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <i class="fa fa-area-chart"></i>
                                <h3 class="box-title">Stanje računa</h3>
                            </div>
                            <div class="box-body">
                                <table class="table">
                                    <tr>
                                        <th>Račun / Valuta</th>
                                        <th style="width: 150px">Stanje</th>
                                    </tr>
                                    <tr>
                                        <td>ANOTE (ANO)</td>
                                        <td><span class="badge bg-green"><span id="balanceAnt">0.00000</span> ANO</span></td>
                                    </tr>
                                    <tr>
                                        <td>Waves (WAV)</td>
                                        <td><span class="badge bg-green"><span id="balanceWav">0.00000</span> WAV</span></td>
                                    </tr>
                                    <tr>
                                        <td>Bitcoin (BTC)</td>
                                        <td><span class="badge bg-green"><span id="balanceBtc">0.00000</span> BTC</span></td>
                                    </tr>
                                    <tr>
                                        <td>Ether (ETH)</td>
                                        <td><span class="badge bg-green"><span id="balanceEth">0.00000</span> ETH</span></td>
                                    </tr>
                                    <!-- <tr>
                                        <td>Bitcoin (BTC)</td>
                                        <td><span class="badge bg-green">0.213 BTC</span></td>
                                    </tr> -->
                                    <tr>
                                        <td>Kuna (HRK)</td>
                                        <td><span class="badge bg-red">uskoro</span></td>
                                    </tr>
                                    <tr>
                                        <td>Euro (EUR)</td>
                                        <td><span class="badge bg-red">uskoro</span></td>
                                    </tr>
                                    <tr>
                                        <td>Dolar (USD)</td>
                                        <td><span class="badge bg-red">uskoro</span></td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                </div>

                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box box-danger">
                            <div class="box-header with-border">
                                <i class="fa fa-arrow-up"></i>
                                <h3 class="box-title">Slanje s računa</h3>
                            </div>
                            <div class="box-body">
                                <form action="javascript:;">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="exampleInputFile" class="text-lg-left">Valuta</label>
                                            <select class="form-control input-lg" id="paymentCurrency">
                                                <option value="ANT" selected>ANOTE (ANO)</option>
                                                <option value="WAV">Waves (WAV)</option>
                                                <option value="ETH">Ether (ETH)</option>
                                                <!-- <option>Bitcoin (BTC)</option> -->
                                            </select>
                                        </div>
                                        <div class="form-group" id="addressToGroup">
                                            <label for="addressTo">Na račun</label>
                                            <input type="text" class="form-control input-lg" id="addressTo" placeholder="3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2">
                                        </div>
                                        <div class="form-group" id="amountGroup">
                                            <label for="amount">Iznos</label>
                                            <input type="text" class="form-control input-lg" id="amount" placeholder="1.234">
                                        </div>
                                        <p class="text-red" style="margin: 0; display: none;" id="errorMessagePayment"></p>
                                    </div>
                                    <div class="box-footer">
                                        <input type="submit" value="Izvrši Plaćanje" class="btn btn-block btn-lg btn-danger" id="payButton">
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->