    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{.i18n.Tr "profitTitle"}}
                <small>{{.i18n.Tr "profitSubtitle"}}</small>
            </h1>
        </section>

        <section class="content" id="transactionInProgress" style="display: none;">
            <div class="callout bg-light-blue" style="border: none;">
                <h4 style="padding-left: 30px;"><i class="fa fa-spinner fa-spin" style="font-size: 1.2em; margin-top: -2px; position: absolute; margin-left: -30px;"></i> {{.i18n.Tr "progress"}}</h4>
                <p>{{.i18n.Tr "progressMessage"}}</p>
            </div>
        </section>

        <section class="content" id="loader" style="display: none;">
            <div class="callout bg-light-blue" style="border: none;">
                <h4 style="padding-left: 30px;"><i class="fa fa-spinner fa-spin" style="font-size: 1.2em; margin-top: -2px; position: absolute; margin-left: -30px;"></i> {{.i18n.Tr "loading"}}</h4>
                <p>{{.i18n.Tr "loadingMessage2"}}</p>
            </div>
        </section>

        <!-- Main content -->
        <section class="content" id="content">

{{ if not .User.ReceivedFreeAnote }}
            <div class="callout callout-danger">
                <h4>{{.i18n.Tr "telegramTitle"}}</h4>
                <p>{{.i18n.Tr "telegramMessage"}} <a href="{{.i18n.Tr "homeLink"}}/airdrop/" target="_blank"><strong>{{.i18n.Tr "telegramHere"}}</strong></a>!</p>
            </div>
{{ end }}

            <div class="callout callout-danger" id="transactionError" style="display: none;">
                <h4>{{.i18n.Tr "transactionErr"}}</h4>
                <p>{{.i18n.Tr "transactionErrMsg"}}</p>
                <p>Error: <span id="errorMessage"></span></p>
            </div>

            <div class="callout callout-success" id="transactionSuccess" style="display: none;">
                <h4>{{.i18n.Tr "transactionScc"}}</h4>
                <p>{{.i18n.Tr "transactionSccMsg"}}</p>
            </div>

            <div class="row">

                <div class="col-md-4">
                        <div class="box">
                        <div class="box-header with-border">
                            <i class="fa fa-line-chart"></i>
                            <h4 class="box-title">{{.i18n.Tr "anoteProfit"}}</h4>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <th colspan="3" style="border: none;">{{.i18n.Tr "holdingProfit"}}</th>
                                </tr>
                                <tr>
                                    <th style="width: 90px;">WAV</th>
                                    <th style="width: 90px;">BTC</th>
                                    <th style="width: 90px;">ETH</th>
                                </tr>
                                <tr>
                                    <td><span class="badge bg-green"><strong><span id="profitWav">{{ .User.ProfitWavString }}</span></strong></span></td>
                                    <td><span class="badge bg-green"><strong><span id="profitBtc">{{ .User.ProfitBtcString }}</span></strong></span></td>
                                    <td><span class="badge bg-green"><strong><span id="profitEth">{{ .User.ProfitEthString }}</span></strong></span></td>
                                </tr>
                                <tr>
                                    <th colspan="3">{{.i18n.Tr "referralProfit"}}</th>
                                </tr>
                                <tr>
                                    <th style="width: 90px;">WAV</th>
                                    <th style="width: 90px;">BTC</th>
                                    <th style="width: 90px;">ETH</th>
                                </tr>
                                <tr>
                                    <td><span class="badge bg-green"><strong><span id="profitWav">{{ .User.ReferralProfitWavString }}</span></strong></span></td>
                                    <td><span class="badge bg-green"><strong><span id="profitBtc">{{ .User.ReferralProfitBtcString }}</span></strong></span></td>
                                    <td><span class="badge bg-green"><strong><span id="profitEth">{{ .User.ReferralProfitEthString }}</span></strong></span></td>
                                </tr>
                            </table><br>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <i class="fa fa-link"></i>
                            <h3 class="box-title">Referral Program</h3>
                        </div>
                        <div class="box-body">
                            <p style="margin: 0 0 23px 0;"><strong>{{.i18n.Tr "yourRefLink"}}</strong></p>
                            <p class="text-green" id="copymessageaddress" style="display: none;">{{.i18n.Tr "linkCopied"}}</p>
                            <p>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="address" value="{{.i18n.Tr "homeLink"}}/?r={{ .User.Address }}" readonly>
                                    <div class="input-group-addon"><a href="javascript:;" onclick="wallet.copy('address');"><i class="fa fa-copy fa-lg"></i></a></div>
                                </div>
                            </p>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <i class="fa fa-dollar"></i>
                            <h3 class="box-title">{{.i18n.Tr "payouts"}}</h3>
                        </div>
                        <div class="box-body">
                            <p class="text-green" style="margin: 0;">{{.i18n.Tr "payoutFee"}}</p>
                            <p class="text-red" id="withdrawmessage" style="display: none; margin: 10px 0 0 0;">{{.i18n.Tr "payoutsSoon"}}</p>
                        </div>
                        <form action="javascript:;">
                                <div class="box-footer">
                                    <input type="submit" value="{{.i18n.Tr "withdraw"}}" class="btn btn-block btn-danger btn-lg" id="withdrawButton">
                                </div>
                            </form>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="modalWithdraw">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{.i18n.Tr "withdrawConfirm"}}</h4>
            </div>
            <div class="modal-body">
              <p>{{.i18n.Tr "withdrawConfirmMsg"}}</p>
              <p style="margin-bottom: 0px;"><a href="javascript:;" onclick="$('#payAdvanced').fadeToggle();">{{.i18n.Tr "configureFee"}}</a></p>
                <div class="form-group" id="payAdvanced" style="display: none; margin: 10px 0 0 0;">
                    <label>{{.i18n.Tr "feeCurrency"}}</label>
                    <select class="form-control" id="withdrawFeeCurrency">
                      <option>Anote (0.3 ANO)</option>
                      <option>Waves (0.001 WAV)</option>
                      <option>Bitcoin (0.0000004 BTC)</option>
                      <option>Ether (0.000008 ETH)</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{.i18n.Tr "cancel"}}</button>
              <button type="button" class="btn btn-danger" id="withdrawConfirmButton">{{.i18n.Tr "withdraw"}}</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->   