    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{.i18n.Tr "settingsTitle"}}
                <small>{{.i18n.Tr "settingsSubtitle"}}</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content" id="content">

            <div class="row">
                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <i class="fa fa-user-secret"></i>
                            <h3 class="box-title">Backup</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group" id="nicknameGroup">
                                <label for="nickname">Seed</label>
                                <textarea id="seed" rows="3" class="form-control input-lg" readonly>{{.i18n.Tr "seedHidden"}}</textarea>
                                <!-- <input type="text" class="form-control input-lg" id="seed" value="{{.i18n.Tr "seedHidden"}}" readonly> -->
                            </div>
                            <p class="text-green" id="copymessageseed" style="display: none;">{{.i18n.Tr "seedCopied"}}</p>
                        </div>
                        <div class="box-footer">
                            <!-- <input type="submit" value="{{.i18n.Tr "showSeed"}}" class="btn btn-lg btn-danger" id="saveButton"> -->
                            <button id="showSeed" class="btn btn-lg btn-danger">{{.i18n.Tr "showSeed"}}</button>
                            <button id="copySeed" class="btn btn-lg btn-default pull-right" disabled onclick="wallet.copy('seed');">{{.i18n.Tr "copySeed"}}</button>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <i class="fa fa-user"></i>
                            <h3 class="box-title">{{.i18n.Tr "nick"}}</h3>
                        </div>
                        <form action="javascript:;">
                            <div class="box-body">
                                {{.i18n.Tr "development"}}
                                <!-- <div class="form-group" id="nicknameGroup">
                                    <label for="nickname">Nadimak</label>
                                    <input type="text" class="form-control input-lg" id="nickname" placeholder="Anonymous">
                                </div>
                                <p class="text-red" style="margin: 0; display: none;" id="errorMessageNickname"></p> -->
                            </div>
                            <!-- <div class="box-footer">
                                <input type="submit" value="Zabilježi Nadimak" class="btn btn-lg btn-default" id="saveButton">
                            </div> -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <i class="fa fa-address-book"></i>
                            <h3 class="box-title">{{.i18n.Tr "addressBook"}}</h3>
                        </div>
                        <div class="box-body">
                            {{.i18n.Tr "development"}}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->